.container {
  width: 80%;
  margin: 0px auto;
}
.serverCard {
  height: 200px;
  box-sizing: border-box;
  text-align: center;
}
.serverCard .serverCard-table {
  text-align: left;
  width: 100%;
}
.serverCard .serverCard-table li {
  display: inline;
}
.serverBlock {
  margin-top: 5%;
}
.controll {
  height: 50px;
  text-align: right;
}
.controll ul li {
  display: block;
  float: right;
  margin: 1%;
}
.settingsHeader {
  margin-top: 3%;
  margin-bottom: 3%;
}
.settingsHeader .settingsHeaderText {
  font-size: 18pt;
  font-weight: 700;
  margin-bottom: 5%;
}
#serverTable {
  letter-spacing: 0;
}
#login {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
}
#login form {
  width: 300px;
  height: 100%;
  margin: 0px auto;
}
#login form input {
  width: 300px;
}
