<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>SMC-Testserver Übersicht</title>
	<link rel="stylesheet"
		href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
		integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://unpkg.com/purecss@0.6.2/build/base-min.css" />
	<link rel="stylesheet"
		href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css"/>
	<h:outputStylesheet library="css" name="header.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<h:outputScript library="js" name="jquery-3.1.1.min.js"></h:outputScript>
</h:head>

<h:body>

	<ui:insert name="header">
		<h:panelGroup layout="block" class="pure-g">
			<ui:include src="header.xhtml" />
		</h:panelGroup>
	</ui:insert>

	<ui:insert name="content">
	</ui:insert>
</h:body>

</html>