<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="WEB-INF/template/default/template.xhtml">
	<ui:define name="content">

		<h:panelGroup layout="block" class="pure-g container">

			<h:panelGroup layout="block" class="pure-u-1-1 settingsHeader">
				<h:form>
					<h:commandButton action="index.xhtml" value="Zurück"
						class="pure-button pure-button-primary"
						style="margin-bottom: 15px;" />
				</h:form>
				<h:outputLabel value="Allgemeine Einstellungen: "
					class="settingsHeaderText" />
			</h:panelGroup>
			<h:panelGroup layout="block" class="pure-u-1-2 settings">
				<h:outputLabel value="Aktualisierungs Intervall" />
			</h:panelGroup>
			<h:panelGroup layout="block" class="pure-u-1-2 settings">
				<h:form class="pure-form">
					<h:inputText value="15" />
					<h:outputLabel value=" Minuten" />
				</h:form>
			</h:panelGroup>
			<h:panelGroup layout="block" class="pure-u-1-1 settingsHeader">
				<h:outputLabel value="Server einstellungen"
					class="settingsHeaderText" />
			</h:panelGroup>
			<h:panelGroup layout="block" class="pure-u-1-1">
				<h:form class="pure-form">
					<h:messages style="color: red;" />

					<h:outputLabel value="Verwende URL Anstatt IP Adresse " />
					<h:selectBooleanCheckbox value="#{configurationManagedBean.useUrl}"
						id="useUrlCheckbox">
						<p:ajax update="inputGrid" execute="@none" event="change"></p:ajax>
					</h:selectBooleanCheckbox>

					<h:panelGrid columns="2" id="inputGrid">
					
						<h:outputLabel value="IP-Adresse" id="ipLabel" rendered="#{configurationManagedBean.useUrl eq false}"/>
						<h:inputText value="#{configurationManagedBean.ip}" id="ip"
							a:placeholder="IP-Addresse" rendered="#{configurationManagedBean.useUrl eq false}" />
							
						<h:outputLabel value="URL" rendered="#{configurationManagedBean.useUrl eq true}" id="urlLabel" />
						<h:inputText value="#{configurationManagedBean.url}" id="url"
							rendered="#{configurationManagedBean.useUrl eq true}" a:placeholder="URL" />
							
						<h:outputLabel value="Hostname" />
						<h:inputText value="#{configurationManagedBean.hostname}"
							a:placeholder="Hostname" />
						<h:outputLabel value="Beschreibung" />
						<h:inputText value="#{configurationManagedBean.description}"
							a:placeholder="Beschreibung" />
						<br></br>
						<h:commandButton action="#{configurationManagedBean.addToList()}"
							value="Hinzufügen" class="pure-button pure-button-primary"
							style="margin-top: 15px;" />
					</h:panelGrid>
				</h:form>
			</h:panelGroup>

			<h:panelGroup layout="block" class="pure-u-1-1 settingsHeader">
				<h:outputLabel value="Server bearbeiten: "
					class="settingsHeaderText" />
			</h:panelGroup>

			<h:panelGroup layout="block" class="pure-u-1-1">

				<h:form id="form">
					<p:growl id="msgs" showDetail="true" />

					<p:dataTable var="servers"
						value="#{configurationManagedBean.serverList}" editable="true"
						style="margin-bottom:20px">
						<f:facet name="header">
          Server
       </f:facet>

						<p:ajax event="rowEdit"
							listener="#{configurationManagedBean.edit}" update=":form:msgs" />
						<p:ajax event="rowEditCancel"
							listener="#{configurationManagedBean.cancelEdit}"
							update=":form:msgs" />

						<p:column headerText="IP">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{servers.ip}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInput" value="#{servers.ip}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="URL">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{servers.url}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{servers.url}" style="width:100%"
										label="Year" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						
						<p:column headerText="Hostname">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{servers.hostname}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{servers.hostname}" style="width:100%"
										label="Hostname" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="Beschreibung">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{servers.description}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{servers.description}" style="width:100%"
										label="Year" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column style="width:32px">
							<p:rowEditor />
						</p:column>
					</p:dataTable>
				</h:form>

			</h:panelGroup>

		</h:panelGroup>

	</ui:define>
</ui:composition>
</html>