<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="WEB-INF/template/default/template.xhtml">
	<ui:define name="content">
		<h:panelGroup layout="block" class="pure-g container">



			<h:panelGroup layout="block" class="controll pure-u-1">

				<h:form id="controllForm"
					rendered="#{overviewManagedBean.newBootup eq false}">

					<p:growl id="growl" showDetail="true" sticky="true" />

					<ul>
						<li><h:commandLink action="configuration.xhtml"
								value="Einstellungen" /></li>
						<li><h:outputLabel
								value="Letze Aktualisierung vor #{overviewManagedBean.refreshedAgo} Minuten. "
								id="refreshedTimeAgo" /> <p:poll interval="60"
								update="refreshedTimeAgo"></p:poll> <h:commandLink
								action="#{overviewManagedBean.reload()}" value="Aktualisieren " /></li>

					</ul>
				</h:form>
			</h:panelGroup>
			<h:panelGroup layout="block" class="pure-u-1 serverBlock" id="server"
				rendered="#{overviewManagedBean.newBootup eq false}">

				<h:panelGroup layout="block" id="serverTable" class="pure-g">

					<p:dataTable var="server" value="#{overviewManagedBean.serverList}">
						<p:column headerText="IP" sortBy="#{server.ip}">
							<h:outputText value="#{server.ip}" />
						</p:column>
						<p:column headerText="URL" sortBy="#{server.url}">
							<h:outputText value="#{server.url}" />
						</p:column>
						<p:column headerText="Hostname" sortBy="#{server.hostname}">
							<h:outputText value="#{server.hostname}" />
						</p:column>
						<p:column headerText="Beschreibung" sortBy="#{server.description}">
							<h:outputText value="#{server.description}" />
						</p:column>
						<p:column headerText="Version" sortBy="#{server.lastknownversion}">
							<h:outputText rendered="#{server.status eq true}"
								value="#{server.lastknownversion}" />
							<h:outputText rendered="#{server.status eq false}"
								value="Zuletzt #{server.lastknownversion}" />
						</p:column>
						<p:column headerText="Status" sortBy="#{server.status}">
							<h:panelGroup rendered="#{server.status eq false}">
								<h:graphicImage value="resources/img/offline.png" height="16"
									width="16" />Offline
						</h:panelGroup>
							<h:panelGroup rendered="#{server.status eq true}">
								<h:graphicImage value="resources/img/online.png" height="16"
									width="16" />Online
									
						</h:panelGroup>
						</p:column>
					</p:dataTable>

				</h:panelGroup>

			</h:panelGroup>

		</h:panelGroup>

		<h:form>
			<p:poll interval="15" update="server controllForm"></p:poll>
		</h:form>

		<h:panelGroup layout="block"
			rendered="#{overviewManagedBean.newBootup eq true}" id="login">

			<h:panelGroup>
				<h2 style="margin-bottom: 10%; text-align: center;">Bitte die
					Webservice Logindaten eingeben.</h2>
			</h:panelGroup>

			<h:form class="pure-form">
				<h:panelGrid columns="1">
					<h:inputText value="#{overviewManagedBean.customer}"
						a:placeholder="Kunde" required="true" />
					<h:inputText value="#{overviewManagedBean.username}"
						a:placeholder="Benutzername" required="true" />
					<h:inputSecret value="#{overviewManagedBean.password}"
						a:placeholder="Passwort" required="true" />
					<br></br>
					<h:commandButton action="#{overviewManagedBean.saveLoginData()}"
						value="Login Daten speichern"
						class="pure-button pure-button-primary" />
				</h:panelGrid>
			</h:form>

		</h:panelGroup>

	</ui:define>
</ui:composition>
</html>