body {

}

.container
{
    width: 80%;
    margin: 0px auto;
}

.serverCard
{
    //border-radius: 5px;
    height: 200px;
    box-sizing: border-box;
    //box-shadow: 0px 1px 20px 1px;
    text-align: center;
    
    .serverCard-table
    {
        text-align: left;
        width: 100%;
        li
        {
            display: inline;
        }

    }
}

.serverBlock 
{
    margin-top: 5%;
}

.controll
{
    height: 50px;
    text-align: right;
}

.controll ul li{
    display: block;
    float: right;
    margin: 1%;
}

.settingsHeader
{
    margin-top: 3%;
    margin-bottom: 3%;
    .settingsHeaderText
    {
        font-size: 18pt;
        font-weight: 700;
        margin-bottom: 5%;
    }
}

#serverTable
{
    letter-spacing: 0;
}

#login
{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;

    form
    {
        width: 300px;
        height: 100%;

        margin: 0px auto;

        input
        {
            width: 300px;
        }

    }
}

